body {
    margin: 0;
    padding: 0;
  }

.bluebackground {
    width: 100%;
    height: 1024px;
    background: linear-gradient(rgba(5,131,210,1), rgba(97,176,183,1));
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 100vh;
}

